.idea/
__pycache__/
.venv
dist/
/report/build/
.env
report/update.exe
server/app.pid
server/config.toml
server/manifest.json
MultiServer/
MultiServer/main.py
server/util/GeoLite2-City.mmdb
/server/logs/
/server/sum.txt
/server/templates
/server/templates/index.html